{{navigation}}

<header class="header">
    {{#if @blog.logo}}
        <img class="header__logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
    {{/if}}

    <h1 class="header__title">
        {{@blog.title}}
    </h1>

    <h2 class="header__description">
        {{@blog.description}}
    </h2>
</header>
