<header
    class="header {{#if @site.cover_image}}"
    style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
    {{#if @site.logo}}
        <h1 class="header__title-image">
            <img class="header__logo" src="{{@site.logo}}" alt="{{@site.title}}"/>
        </h1>
    {{else}}
        <h1 class="header__title blog-title">
            {{@site.title}}
        </h1>
    {{/if}}

    <h2 class="header__description">
        {{@site.description}}
    </h2>
</header>
