<nav class="navigation navbar navbar-expand-lg navbar-dark fixed-top {{^is "home"}}no-transparency{{/is}}">
    <div class="container">
        <a class="navbar-brand d-block d-xs-none navigation__logo-container d-none d-sm-block d-lg-none {{#unless
            @blog.logo}}navigation__logo-container--with-line-height{{/unless}}" href="{{@blog.url}}">
            {{#if @blog.logo}}
                <img class="navigation__logo" src="{{@blog.logo}}" alt="{{@blog.title}}" height="30"/>
            {{else}}
                {{@blog.title}}
            {{/if}}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNavigation"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="nav navbar-nav flex-fill w-100 flex-nowrap">
                {{#foreach navigation}}
                    <li class="nav-item {{#if current}}active{{/if}}">
                        <a class="nav-link nav-{{slug}}" href="{{url absolute="true"}}">
                            {{label}}
                        </a>
                    </li>
                {{/foreach}}
            </ul>
            <ul class="nav navbar-nav flex-fill justify-content-center d-none d-lg-block d-xl-block">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{@blog.url}}">
                        {{#if @blog.logo}}
                            <div class="navigation__logo-container {{^is "home"}}navigation--show-logo{{/is}}">
                                <img class="navigation__logo" src="{{@blog.logo}}" alt="{{@blog.title}}" height="30"/>
                            </div>
                        {{else}}
                            <div class="navigation__logo-container {{^is "home"}}navigation--show-logo{{/is}}">
                                <span class="navigation__logo navigation__logo-text navbar-text">{{@blog.title}}</span>
                            </div>
                        {{/if}}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav flex-fill w-100 justify-content-lg-end navbar-icons">
                <li class="nav-item"><a class="nav-link navigation__toggle-search-button" data-toggle="modal"
                                        data-target="#searchModal"><i class="fa fa-search fa-lg"></i></a></li>
                {{#if @blog.facebook}}
                    <li class="nav-item"><a href="{{facebook_url @blog.facebook}}" class="nav-link" target="_blank"><i
                        class="fa fa-facebook fa-lg"></i></a></li>
                {{/if}}
                {{#if @blog.twitter}}
                    <li class="nav-item"><a href="{{twitter_url @blog.twitter}}" class="nav-link" target="_blank"><i
                        class="fa fa-twitter fa-lg"></i></a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
