<article class="post clearfix {{post_class}}">
    <header class="post__header">
        <div class="post__meta row">
            <div class="col-6">
                {{#if primary_tag}}
                    <span class="post__primary-tag">
                        {{primary_tag.name}}
                    </span>
                {{/if}}
            </div>
            <div class="col-6 text-right">
                <time class="post__date" datetime="{{date}}">{{date}}</time>
            </div>
        </div>

        <a class="post__title-link" href="{{url}}">
            <h2 class="post__title">{{title}}</h2>
        </a>
    </header>

    {{#if feature_image}}
        <a href="{{url}}">
            <figure class="post__feature-image" style="background-image: url({{feature_image}})"></figure>
        </a>
    {{/if}}

    <section class="post__content">
        {{excerpt words="33"}}
    </section>

    <div class="post__read-more">
        <a href="{{url}}" class="btn btn-primary post__read-more-button">Read more</a>
    </div>
</article>
