<article class="post clearfix {{post_class}}">
    <header class="post__header">
        <div class="post__meta row">
            <div class="col-6">
                {{#if primary_tag}}
                    {{#primary_tag}}
                        <a class="post__primary-tag" href="{{url}}">{{name}}</a>
                    {{/primary_tag}}
                {{/if}}
            </div>
            <div class="col-6 text-right">
                <time class="post__date" datetime="{{date}}">{{date}}</time>
            </div>
        </div>

        <a class="post__title-link" href="{{url}}">
            <h2 class="post__title">{{title}}</h2>
        </a>
    </header>

    <a class="post__content-container" href="{{url}}">
        {{#if feature_image}}
            <div class="post__feature-image-container">
                <figure class="post__feature-image" style="background-image: url({{feature_image}})"></figure>
            </div>
        {{/if}}

        <section class="post__content">
            {{excerpt words="33"}}
        </section>
    </a>
</article>
