<div class="sidebar">
    {{#if @labs.subscribers}}
        <div class="sidebar__widget">
            <h4 class="sidebar__widget-title">Subscribe</h4>
            Stay up to date by getting the latest posts delivered right to your inbox.

            {{subscribe_form}}
        </div>
    {{/if}}

    {{#if tag_list}}
        <div class="sidebar__widget">
            <h4 class="sidebar__widget-title">Tags</h4>

            {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
                <ul class="sidebar__tag-list">
                    {{#foreach tags}}
                        <li class="sidebar__tag-list-item">
                            <a class="sidebar__tag-list-link" href="{{url}}" class="tag">{{name}} ({{count.posts}})</a>
                        </li>
                    {{/foreach}}
                </ul>
            {{/get}}
        </div>
    {{/if}}

    {{#if related_posts}}
        {{#if primary_tag}}
            {{#get "posts" limit="5" filter="id:-{{post_id}}+tag:[{{primary_tag.slug}}]"}}
                {{#if posts.length}}
                    {{> "sidebar-post-list" widget_title="Related posts"}}
                {{else}}
                    {{#get "posts" limit="5"}}
                        {{> "sidebar-post-list" widget_title="Latest posts"}}
                    {{/get}}
                {{/if}}
            {{/get}}
        {{else}}
            {{#get "posts" limit="5"}}
                {{> "sidebar-post-list" widget_title="Latest posts"}}
            {{/get}}
        {{/if}}
    {{/if}}
</div>
