<form method="post" action="{{action}}" class="{{form_class}}">
    {{! This is required for the form to work correctly }}
    {{hidden}}

    <div class="subscribe-form">
        {{input_email class="form-control subscribe-form__input" placeholder="Your email" value=email}}
        <button class="subscribe-form__submit-button" type="submit" id="button-addon1">Subscribe</button>
    </div>

    {{! This is used to get extra info about where this subscriber came from }}
    {{script}}
</form>

{{#if error}}
    <p class="main-error">{{ error.message }}</p>
{{/if}}
