{{!< default}}

{{navigation}}

{{#author}}
    <header
        class="header header--for-author {{#if cover_image}}"
        style="background-image: url({{cover_image}}){{else}}no-cover{{/if}}">

        <div class="header__author-info-wrapper">
            {{#if profile_image}}
                <img class="header__author-image" src="{{profile_image}}" alt="{{name}}">
            {{/if}}

            <div class="header__author-info">
                <h1 class="header__title mb-0">
                    <small>Author</small>
                    {{name}}
                </h1>

                <div class="header__author-meta">
                    {{#if location}}
                        {{location}}
                        <span class="bull">&bull;</span>
                    {{/if}}

                    {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                    <span class="bull">&bull;</span>

                    {{#if website}}
                        <a class="header__author-link" href="{{website}}" target="_blank" rel="noopener"><i class="fa fa-home"></i></a>
                    {{/if}}

                    {{#if twitter}}
                        <a class="header__author-link" href="{{twitter_url}}" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
                    {{/if}}

                    {{#if facebook}}
                        <a class="header__author-link" href="{{facebook_url}}" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
                    {{/if}}

                    <a class="header__author-link" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener"><i class="fa fa-rss"></i></a>
                </div>
            </div>
        </div>

        <h2 class="header__author-bio">
            {{bio}}
        </h2>
    </header>
{{/author}}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <main id="content">
                <div class="posts">
                    {{#foreach posts}}
                        {{> "post-preview"}}
                    {{/foreach}}
                </div>

                {{pagination}}
            </main>
        </div>
        <div class="col-4 sidebar-container">
            <aside id="sidebar">
                {{> "sidebar" tag_list=true}}
            </aside>
        </div>
    </div>
</div>
