<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="{{asset "dist/main.css"}}" type="text/css" rel="stylesheet">

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="site-wrapper">
        {{{body}}}
        {{> "footer"}}
    </div>

    {{> "search"}}

    <script src="{{asset "dist/bundle.js"}}"></script>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>
</html>
