{{!< default}}

<nav class="navigation navbar navbar-expand-lg navbar-dark fixed-top {{^is "home"}}no-transparency{{/is}}">
    <div class="container">
        <ul class="nav navbar-nav flex-fill justify-content-center d-none d-sm-block">
            <li class="nav-item text-center">
                <a class="navbar-brand" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <div class="navigation__logo-container {{^is "home"}}navigation--show-logo{{/is}}">
                            <img class="navigation__logo" src="{{@site.logo}}" alt="{{@site.title}}" height="30"/>
                        </div>
                    {{else}}
                        <div class="navigation__logo-container {{^is "home"}}navigation--show-logo{{/is}}">
                            <span class="navigation__logo navigation__logo-text navbar-text">{{@site.title}}</span>
                        </div>
                    {{/if}}
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="error content container no-header">
    <div class="row">
        <div class="col-md-4 col-sm-12 my-auto text-center">
            <img src="{{ asset "images/deadlink.png" }}" class="error__image">
        </div>
        <div class="col my-auto text-sm-center text-md-left">
            <h1 class="error__code mb-1">
                <small>{{code}} - {{message}}</small>
                {{t "Whoops, you found a dead link."}}
            </h1>
            <a href="{{@site.url}}">{{t "Oh jeez! Take me back to a safer place!"}}</a>
        </div>
    </div>
</div>
