{{!< default}}

{{navigation}}

<div class="container no-header">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <main id="content">
                {{#post}}
                    <article class="post clearfix {{post_class}}">
                        <header class="post__header">
                            <div class="post__meta row">
                                <div class="col-6">
                                    {{#if primary_tag}}
                                        <span class="post__primary-tag">
                                            {{primary_tag.name}}
                                        </span>
                                    {{/if}}
                                </div>
                                <div class="col-6 text-right">
                                    <time class="post__date" datetime="{{date}}">{{date}}</time>
                                </div>
                            </div>

                            <a class="post__title-link" href="{{url}}">
                                <h2 class="post__title">{{title}}</h2>
                            </a>
                        </header>

                        {{#if feature_image}}
                            <a href="{{url}}">
                                <figure class="post__feature-image" style="background-image: url({{feature_image}})"></figure>
                            </a>
                        {{/if}}

                        <section class="post__content">
                            {{content}}
                        </section>

                        <section class="post__author">

                        </section>
                    </article>
                {{/post}}
            </main>
        </div>
        <div class="col-4 sidebar-container">
            <aside id="sidebar">
                {{> "sidebar" related_posts=true post_id=id primary_tag=primary_tag}}
            </aside>
        </div>
    </div>
</div>
