{{!< default}}

{{navigation}}

{{#post}}
    <main class="content container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-8">
                <div class="post">
                    {{#if primary_tag}}
                        <span class="post__primary-tag">
                            {{primary_tag.name}}
                        </span>
                    {{/if}}

                    <span class="post__date pull-right">{{date}}</span>

                    <h2 class="post__title">{{title}}</h2>

                    {{#if feature_image}}
                        <div class="post__feature-image" style="background-image: url({{feature_image}})"></div>
                    {{/if}}

                    <div class="post__content">
                        {{content}}
                    </div>
                </div>
            </div>
            <div class="col-4 sidebar-container">
                {{> "sidebar" related_posts=true post_id=id primary_tag=primary_tag}}
            </div>
        </div>
    </main>
{{/post}}
