{{!< default}}

{{navigation}}

<div class="subscribe-page content container no-header">
    <div class="row">
        <div class="col-md-12 col-sm-12 my-auto text-center">
            <h1 class="subscribe-page__title">{{t "Subscription complete"}}</h1>
            {{t "Thanks for subscribing! You'll receive new posts per mail from now."}}
            <br>
            <small>{{t "You can unsubscribe whenever you want!"}}</small>
            <hr>
            <a href="{{ @site.url }}">{{t "Got it, take me back!"}}</a>
        </div>
    </div>
</div>
